<div [ngClass]="{ headerTwo: !garflif, header: garflif }">
  <!--
    <div *ngIf="!garflif">
      <img src="../../assets/images/streamlinebck-grey.jpg" />
    </div>
  -->
  <div class="title">
    <img class="logo" src="../../assets/images/SL-logo-new.png" />

    <h4>Your Guide to Streaming Movies & Shows Online</h4>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      <span class="input">
        <input
          type="text"
          formControlName="input"
          placeholder="Search for Movie/Show"
        />
        <span></span>
      </span>
    </label>
    <!-- <input type="submit" value="Search" class="button"> -->
  </form>
</div>

<!-- -------RESULTS------------ -->
<!-- <div *ngIf="ngOnInit() === null || undefined"> -->
<div class="wrapper">
  <div *ngFor="let item of moreItems">
    <div class="widget">
      <img class="cover" src="{{ item.picture }}" />
      <div *ngFor="let loco of item.locations">
        <div class="mask">
          <button
            class="add"
            (click)="callBoth(item.picture, loco.url, item.name)"
          >
            <i class="material-icons icon"> playlist_add </i>
          </button>
          <p>Add to List</p>
        </div>
      </div>

      <div class="description">
        <div>
          <h2>{{ item.name }}</h2>
        </div>
        <button (click)="openDialog(item)">Watch Now</button>
      </div>
    </div>
  </div>

  <div *ngFor="let item of items">
    <div class="widget">
      <img class="cover" src="{{ item.picture }}" />
      <div *ngFor="let loco of item.locations">
        <div class="mask">
          <button
            class="add"
            (click)="callBoth(item.picture, loco.url, item.name)"
          >
            <i class="material-icons icon"> playlist_add </i>
          </button>
          <p>Add to List</p>
        </div>
      </div>

      <div class="description">
        <div>
          <h2>{{ item.name }}</h2>
        </div>
        <button (click)="openDialog(item)">Watch Now</button>
      </div>
    </div>
  </div>

  <div *ngFor="let item of evenMoreItems">
    <div class="widget">
      <img class="cover" src="{{ item.picture }}" />
      <div *ngFor="let loco of item.locations">
        <div class="mask">
          <button
            class="add"
            (click)="callBoth(item.picture, loco.url, item.name)"
          >
            <i class="material-icons icon"> playlist_add </i>
          </button>
          <p>Add to List</p>
        </div>
      </div>

      <div class="description">
        <div>
          <h2>{{ item.name }}</h2>
        </div>
        <button (click)="openDialog(item)">Watch Now</button>
      </div>
    </div>
  </div>

  <!--
    <mat-form-field>
      <input matInput value="Disco party!" placeholder="Message" #message>
    </mat-form-field>

    <mat-form-field>
      <input matInput value="Dance" placeholder="Action" #action>
    </mat-form-field>
  -->
</div>
