<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    <span class="input">
      <input type="text" formControlName='input' placeholder="Search for Show/Movie">
      <span></span>
    </span>

  </label>
  <!-- <input type="submit" value="Search" class="button"> -->
</form>

<!---------RESULTS-------------->
<div class="wrapper">
  <div *ngFor='let item of moreItems'>
    <div class="widget">
      <img class='cover' src='{{ item.picture }}' />
      <div *ngFor="let loco of item.locations">
        <div class="mask">
          <button class="add" (click)="watchList(item.picture, loco.url)"><i class="material-icons icon">
              playlist_add
            </i></button>
          <p>Add to List</p>
        </div>
      </div>
      <div class="description">
        <div>
          <h2>{{ item.name }}</h2>
        </div>
        <button (click)="openDialog(item)">Watch Now</button>

      </div>
    </div>
  </div>

  <div *ngFor='let item of items'>

    <div class="widget">
      <img class='cover' src='{{ item.picture }}' />
      <div *ngFor="let loco of item.locations">
        <div class="mask">

          <button class="add" (click)="watchList(item.picture, loco.url)"><i class="material-icons icon">
              playlist_add
            </i></button>
          <p>Add to List</p>
        </div>
      </div>
      <div class="description">
        <div>
          <h2>{{ item.name }}</h2>
        </div>
        <button (click)="openDialog(item)">Watch Now</button>
      </div>
    </div>

  </div>



  <div *ngFor='let item of evenMoreItems'>
    <div class="widget">
      <img class='cover' src='{{ item.picture }}' />
      <div *ngFor="let loco of item.locations">
        <div class="mask">
          <button class="add" (click)="watchList(item.picture, loco.url)"><i class="material-icons icon">
              playlist_add
            </i></button>
          <p>Add to List</p>
        </div>
      </div>

      <div class="description">
        <div>
          <h2>{{ item.name }}</h2>
        </div>
        <button (click)="openDialog(item)">Watch Now</button>

      </div>
      <button (click)="openDialog(item)">Watch Now</button>
    </div>
  </div>
