@import url("https://fonts.googleapis.com/css?family=Lalezar|Muli");

// .garf {
//   // background-image: url("../../assets/images/streamlinebck-grey.jpg");
//   height: 100vh;
//   z-index: -10;
// }

mat-form-field {
  font-family: "Lalezar", cursive;
}

.logo {
  height: 18em;
  width: 26em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 45vh;
  background-image: url("../../assets/images/streamlinebck-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.headerTwo {
  height: 93vh;
  background-image: url("../../assets/images/streamlinebck-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  top: 300px;
  z-index: 1;
  padding-top: 40px;
  h4 {
    text-align: center;
    color: #afafaf;
    font-size: 34px;
    font-family: "Lalezar", cursive;
  }
}

label {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 6em;
  // opacity: 1;
}

.input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
  input {
    height: 2em;
    width: 20em;
    font-size: 1em;
    text-align: center;
    // opacity: 1;
  }
  *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;

    &:focus + span {
      opacity: 1;
      transform: scale(1);
    }
  }

  span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.35s;
    opacity: 0;

    position: absolute;
    z-index: 0;
    margin: 6px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
      -3px 3px 30px #10abff;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 12em;
}

/*-------------------------------------------------- */
body {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// html,
// body {
//   height: 100vh;
//   width: 100vw;
// }

input {
  font-family: inherit;
  line-height: inherit;
  color: #1beabd;
  font-size: 20px;
  font-family: "Muli", sans-serif;
  min-width: 12em;
  justify-content: center;
  background: linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
}

::placeholder {
  font-family: "Muli", sans-serif;
  color: white;
  font-size: 20px;
}

html::after {
  content: "";
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper {
  list-style-type: none;
  width: 80vw;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  margin: auto;
  margin-top: 5em;
}

.cover {
  height: 220px;
  // width: 250px;
  width: 300px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.4);
  border-radius: 10% 10% 0 0;
}

.widget {
  animation-name: zoomIn;
  animation-duration: 0.4s;
  width: 100%;
  background: none;
  color: #ddd;
  transition: 0.5s;
  display: flex;
  // flex-shrink: 2;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2em;
  margin: 0.4em 0.4em 0.4em 0.4em;

  flex-direction: column;
  &:hover {
    transform: scale(1.1);
  }
}

.widget:hover .cover {
  // opacity: 0.7;
  transform: scale(1.1);
  cursor: pointer;
}

.widget:hover .middle {
  opacity: 1;
}

.widget:hover .description {
  opacity: 1;
  transform: scale(1.1);
}

.mask {
  opacity: 0;
  background-color: rgba(85, 84, 84, 0.671);
  transition: all 0.4s ease-in-out;
  width: 328.3px;
  height: 250px;
  position: fixed;
  overflow: hidden;
  top: -10.7px;
  left: -7.32px;
  border-radius: 10% 10% 0 0;
  &:hover {
    opacity: 1;
  }
}

.widget .add {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  margin-top: 50px;
  padding: 0px 20px 0px;
  text-align: center;
}

.add {
  color: white;
  background-color: transparent;
  border-color: transparent;
  margin-left: 7em;
  margin-top: 2em;
  cursor: pointer;
  font-size: 44px;
  display: block;
}

.icon {
  font-size: 6em;
}

p {
  color: white;
  background-color: transparent;
  border-color: transparent;
  margin-top: -10px;
  margin-left: 4.5em;
  cursor: pointer;
  font-size: 24px;
  display: block;
}

.description {
  box-shadow: 2px 24px 22px -15px rgba(0, 0, 0, 0.59);
  opacity: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 300px;
  background: #222;
  transition: 0.5s ease;
  font-weight: 200;
  border-radius: 0 0 10% 10px;

  & h2 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Lalezar", cursive;
    color: white;
  }

  & button {
    border: none;
    border-radius: 0 0 10% 0;
    width: 80px;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: "Russo One", sans-serif;
    background: linear-gradient(21deg, #10abff, #1beabd);
    color: #ddd;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      // opacity: 1;
      color: #222;
    }
  }
}

.description div {
  padding: 10px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@media (max-width: 414px) {
  .header {
    height: 65vh;
    background-image: url("../../assets/images/streamlinebck-grey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerTwo {
    height: 100vh;
    background-image: url("../../assets/images/streamlinebck-grey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .input {
    position: relative;
    font-size: 1em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    input {
      height: 2em;
      width: 10em;
      font-size: 1em;
      text-align: center;
    }
    *:not(span) {
      position: relative;
      display: inherit;
      border-radius: inherit;
      margin: 0;
      border: none;
      outline: none;
      padding: 0 0.325em;
      z-index: 1;

      &:focus + span {
        opacity: 1;
        transform: scale(1);
      }
    }

    span {
      transform: scale(0.993, 0.94);
      transition: transform 0.5s, opacity 0.35s;
      opacity: 0;

      position: absolute;
      z-index: 0;
      margin: 6px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      pointer-events: none;
      box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
        -3px 3px 30px #10abff;
    }
  }
}
