<form [formGroup]="form" (ngSubmit)="onSubmit()">


  <label>
    <input type="text" formControlName='input'>
  </label>
  <input type="submit" value="Search" class="button">
</form>

<div class="shows">
  <div *ngFor='let item of items'>
    <div class="list">
      <img class='cover' src='{{ item.picture }}' />
      <div class='middle'>

        <div class='text'>
          <button><i class="material-icons icon">
              add_circle_outline
            </i></button>
          <p>Add to List</p>
        </div>
      </div>
    </div>
    <h2>{{ item.name }}</h2>

    <!-- <div > -->
    <a *ngFor="let loco of item.locations" href="{{loco.url}}">
      <img src='{{loco.icon}}' />
    </a>

    <!-- </div> -->
  </div>
</div>