.wrapper {
    list-style-type: none;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: black;
    margin: auto;
    margin-top: 5%;
  }