<!-- <ul class="wrapper">
    <li class="list" *ngFor="let return of returns">
    <img src='{{return.movieImage}}' height='250px' width='250px'>
    <button mdbBtn type="button" color="indigo" class="waves-light" mdbWavesEffect (click)="deleteItem(return.id)">Delete</button>
    <button mdbBtn type="button" color="indigo" class="waves-light" mdbWavesEffect (click)="updateItem(return.id, return.movieImage, return.url)">Watched</button>
    <button (click)="deleteItem(return.id)">Delete</button>
    <button (click)="updateItem(return.id, return.movieImage, return.url)">Watched</button> -->
<!-- </li> -->
<!-- </ul> -->
<!-- <div ng-app="myApp"> -->
<h1>My Watchlist</h1>
<div class="wrapper">
  <div class="card" *ngFor="let return of returns">

    <div class='buttons'>

      <!-- <div *ngIf="!isClicked" class="disablePhoto"> -->
      <div *ngIf="return.isWatched === false">
        <img class="img" src="{{return.movieImage}}" alt="Avatar" style="width:100%">
      </div>
      <div *ngIf="return.isWatched === true">
        <div>
          <img class="img" src="{{return.movieImage}}" alt="Avatar" style="width:100%">
          <div class="imgWatched">
            <h5 class="pTag"><img src="../../assets/images/baseline_check_white_18dp.png">Watched</h5>
          </div>
        </div>
      </div>

      <div class="container">

        <button mdbBtn type="button" color="black" class="btn btn-outline-red waves-effect" mdbWavesEffect (click)="deleteItem(return.id)"><i
            class="material-icons trash">
            delete
          </i></button>
        <button mdbBtn type="button" id="watchBtn" color="black" class="btn btn-outline-green waves-effect"
          mdbWavesEffect (click)="updateItem(return.id, return.movieImage, return.url)"><i class="material-icons">
            <span>check_circle</span>
          </i></button>

      </div>
    </div>
  </div>
</div>