@import url("https://fonts.googleapis.com/css?family=Lalezar|Muli");

.navbar {
  margin-left: 0;
  margin-right: 0;
  z-index: 1000;
  font-family: "Lalezar", cursive;
}

.contianer {
  margin-left: -20px;
  margin-right: 0;
}

.navbar-collapse {
  justify-self: right;
}

#otherButtons {
  float: right;
}

.navbar-brand {
  font-family: "Lalezar", cursive;
  font-size: 24px;
}

.nav-item {
  font-family: "Muli", sans-serif;
}

mdb-navbar {
  width: 100%;
  position: sticky;
  z-index: 2;
}

.navLogo {
  height: 2.1em;
  width: 6em;
  margin-top: -0.2em;
}
