.wrapper {
    color: white;
    text-align: center;
    margin-top: 10%;
}

ul {
    list-style-type: none;
}

.form {
   max-width: 200px;
}

.line {
    display: inline-block;
}

.list {
     margin-bottom: 15%;
 }