.wrapper {
    color: white;
    display: flex;
    margin: auto;
    margin-top: 10%;
}

 .list {
     display: flex;
    
 }

 ul {
     list-style-type: none;
 }

 .form {
    max-width: 200px;
 }

 .line {
     margin: auto;
 }
