  <div class="wrapper">
      <div class="line list">
        <ul class="box" *ngFor="let user of users">
            <li>User ID: {{user.id}}</li>
            <li>First Name: {{user.firstName}}</li>
            <li>Last Name: {{user.lastName}}</li>
            <li>Email: {{user.userEmail}}</li>
            <li>Admin: {{user.isAdmin}}</li>
            <button mdbBtn type="button" color="indigo" class="waves-light" mdbWavesEffect (click)="deleteUser(user.id)">Delete</button>
            <!-- <button (click)="deleteUser(user.id)">Delete</button> -->
        </ul>
      </div>

  <div class="line form">
    <form [formGroup]='adminForm' (ngSubmit)='onSubmit()'>
      <label>
        User ID
        <input type='text' formControlName='userID'>
      </label>
      <label>
        First Name
        <input type='text' formControlName='firstName'>
      </label>
      <label>
        Last Name
        <input type='text' formControlName='lastName'>
      </label>
      <label>
        Email
        <input type='text' formControlName='email'>
      </label>
      <label>
        Password
        <input type='password' formControlName='password'>
      </label>
      <!-- <button type='submit'>Submit</button> -->
      <button mdbBtn type="submit" color="indigo" class="waves-light" mdbWavesEffect>Submit</button>
    </form>
  </div>
</div> 
