<div class="wrapper">
<h1>Sign Up</h1>
<div class="form">
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
    <label>
      First Name
      <input type="text" formControlName="firstName" [(ngModel)]="firstName">
    </label>

    <label>
      Last Name
      <input type='text' formControlName="lastName" [(ngModel)]="lastName">
    </label>

    <label>
      Email
      <input type="email" formControlName="email" [(ngModel)]="userEmail">
    </label>

    <label>
      Password
      <input type='password' formControlName="password" [(ngModel)]="password">
    </label>

    <input type="submit" value="Submit" class="button">
  </form>
</div>
</div>