@import url("https://fonts.googleapis.com/css?family=Lalezar|Muli");

.wrapper {
  color: white;
  text-align: center;
  margin-top: 5%;
}
label {
  font-family: "Lalezar", cursive;
  input {
    // margin-bottom: 2em;
  }
}
ul {
  list-style-type: none;
  color: white;
}

li {
  font-family: "Muli", sans-serif;
}

.form {
  max-width: 200px;
}

.line {
  display: inline-block;
}
button {
  margin-top: 28px;
  width: 120px;
  font-family: "Lalezar", cursive;
  height: 32px;
  background: #10abff;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
