<form [formGroup]='settingsForm' (ngSubmit)='onSubmit()'>
  <label>
    First Name
    <input type='text' formControlName='firstName'>
  </label>
  <label>
    Last Name
    <input type='text' formControlName='lastName'>
  </label>
  <label>
    Email
    <input type='text' formControlName='email'>
  </label>
  <label>
    Password
    <input type='password' formControlName='password'>
  </label>
  <button type='submit'>Submit</button>
</form>

<ul>
  <li>{{ids}}</li>
  <li>{{firsts}}</li>
  <li>{{lasts}}</li>
  <li>{{mails}}</li>
</ul>